:root {
  height: 100%
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  height: 100%;
  padding: 10px;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.col-md-3 {
  border: 2px solid red
}

.header {
  background-color: whitesmoke;
  height: 100x;
  width: 100%;
  margin: 0;
  border: 2px solid black
}

label {
  padding-bottom: 20px;
}

#artist {
  margin-top: 100px;
}


#header-text {
  color: pink;
  font-size: 50px;
  position: relative;
}

#create {
  color: red;
  border: 2px dotted gray;
  border-radius: 10%;
}

#create:hover {
  background-color: salmon;
}

#profile {
  color: red;
  border: 2px solid gray;
  margin-left: 10px;
  margin-top: 50px;
  position: relative;
}

.login {
  margin-top: 100px;
  margin-left: 100px;
}

.images {
  width: 200px;
  width: 170px;
  border-radius: 15px;
  ;
}

.profile-pic {
  border-radius: 15%;
  border: 3px solid black;
}

#insta,
#fb,
#twit,
#tik {
  width: 40px;
  height: 40px;
  border: 1px dotted whitesmoke
}

.card-body:hover {
  background-color: orangered;
}

#profile {
  font-size: x-small;
  width: 80px;
  display: flexbox
}

#create-form {
  margin-top: 50px;
  text-align: center;
}

#newProfile {
  color: red;
  border: 2px solid red
}

#delete {
  margin-left: 200px;
  margin-bottom: 50px;
  border: 2px solid red;
  background-color: orangered;
}

#editProfile {
  background-color: red;
}

#sign-out {
  background-color: #f9f9f9;
  border: 2px dotted red;
  border-radius: 15%;
}

#sign-out:hover {
  background-color: rgb(242, 0, 255);
}

#log-frm-sub:hover {
  background-color: rgb(244, 12, 217);
}

#log-frm-sub {
  border: 2px dotted red;
  background-color: white;
  border-radius: 115%;
}

body {
  background-image: url("/images/landing.png");
  background-size: cover;
}

body,
html {
  height: 100%;
  margin: 0;

}

#login-container {
  display: flex;

  height: 100%;
}


#newProfile:hover {
  opacity: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}